
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

@import "install-button.css";
@import "../js/lib/layouts/css/layouts.css";

@import "fonts.css";

/* Your styles here */

html, body {
    height: 100%;
}

body {
    font-family: 'MozTTLight', Verdana, sans-serif;
}

h1 {
    font: 2.2rem/4.8rem "Open Sans", Sans-serif;
}

x-view .contents {
    padding: 1em;
}

x-view h1 {
    margin-top: 0;
}

x-view.edit .field {
    margin-top: 1em;
}

.list ul li {
    width: 100%;
    padding: 0;
    display: -moz-box;
    -moz-box-orient: horizontal;
}

.list li div {
    border-left: solid 1px gray;
    padding: 1em 0.5em;
}

.list li div:first-child {
    border-left: none;
}

.list li .date {
    width: 70px;
}

.list li .title {
    -moz-box-flex: 1;
}

.list li .value {
    text-align: right;
    width: 70px
}

.list .positive {
    color: green;
}

.list .negative {
    color: red;
}

footer input {
    width: 30%;
}

ul li {
}